TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development
LOG_LEVEL=info

APP_KEY=
APP_URL=http://${HOST}:${PORT}

DATABASE_URL=postgres://stashit:stashit@localhost:5435/stashit

REDIS_URL=redis://localhost:6385
